@import "tailwindcss";

/* body{
    background-color: #ffd285;
} */

.navMenu li a{
    font-family: 'Poppins', Arial, Helvetica, sans-serif
}

html{
    scroll-behavior: smooth;
}

/* body{
    background-color: rgb(255 251 235);
} */

html {
  scroll-behavior: smooth;
}
.contactBtn{
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}


.contactBtn:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-style: normal;
}

.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-style: normal;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}


@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
}